body,html{
  margin: 0px;
  background-color: #000;
  font-family: 'Exo';
  font-style: normal;
  font-weight: 200;
}

h1{
  color:#C1BAB9;
  font-size: 20px;
  margin:0;
  font-weight: 400;
  text-align: center;
}
p{
  color:#c8c8c8;
  font-size: 14px;
  font-weight: 100;
}

/* ------------------- MENU ---------------------- */

.topo{
  z-index: 100;
  list-style: none;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 45px;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  flex-direction:row;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
 display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
 display: -ms-flexbox;      /* TWEENER - IE 10 */
 display: -webkit-flex;     /* NEW - Chrome */
 display: flex;

}
/*
.menu{
  display: flex;
  flex-direction: row;
  width: 653px;
  margin: auto;
}


.menu li{
  border-right: solid 1px #b2b2b2;
  text-transform: uppercase;
}

.topo a{
  display: flex;
  text-align: center;
  padding: 10px;
  color: #C1BAB9;
  font-size: 12px;
  margin: auto;
  text-decoration: none;

}

.topo a:hover{
  background-color: #0570A5;
  color: #EFEBE4;
  text-decoration: none;
}
.topo a:active {
  background-color: #0E79AB;
  color: #EFEBE4;
  margin-top: -10px;
}

*/

.botaomobile{
  display: none;
}

.dummy{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex-flow: column;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 200px;
  top: 45px;
  background-color: rgba(0,0,0,0.5);;
  align-items:center;
  justify-content: center;
}
.dummy.aberto{
  visibility: visible;
}

.dummy__item{
  font-size: 30px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  color: #fff;
}
@media only screen and (max-width : 1010px) {
    .menu{
      display: none;
    }
    .botaomobile{
      display: inline-block;
      position: absolute;
      right: -20px;
      top: -25px;
    }

}
.esqmenu{
  width: 460px;
}

/* -------------------MENU ANIMACOES ---------------------- */

.menu {
  position: absolute;
	line-height: 1;
	margin: 0 auto 30px;
  right: 60px;

}

.menu__list {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu__item {
	display: block;
	margin: 1em 0;
}

.menu__link {
	font-size: 14px;
	display: block;
  margin-right: 27px;
  text-decoration: none;
	padding: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu__link:hover,
.menu__link:focus {
	outline: none;
}

.menu--francisco .menu__item {
	margin: 0 4px;
}

.menu--francisco .menu__link {
	position: relative;
	overflow: hidden;
	height: 16px;
	padding: 14px 0;
	text-align: center;
	color: #b5b5b5;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.menu--francisco .menu__link:hover,
.menu--francisco .menu__link:focus {
	color: #929292;
}

.menu--francisco .menu__item--current .menu__link {
	color: #0CE8B5;
}

.menu--francisco .menu__link::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	opacity: 0;
	background: #0CE8B5;
	-webkit-transform: translate3d(0, -3em, 0);
	transform: translate3d(0, -3em, 0);
	-webkit-transition: -webkit-transform 0s 0.3s, opacity 0.2s;
	transition: transform 0s 0.3s, opacity 0.2s;
}

.menu--francisco .menu__item--current .menu__link::before {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.1s;
	transition: transform 0.3s, opacity 0.1s;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu--francisco .menu__helper {
	display: block;
	pointer-events: none;
}

.menu--francisco .menu__item--current .menu__helper {
	-webkit-animation: anim-francisco 0.3s forwards;
	animation: anim-francisco 0.3s forwards;
}

@-webkit-keyframes anim-francisco {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	51% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes anim-francisco {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	51% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

/* -------------------PAGINA INICIAL PAGINA ---------------------- */

.header{
  background-image: url(../imgs/homebg.jpg);
  background-attachment: fixed;
  height:100vh;
  background-size: cover;
  background-position: center;
  -webkit-animation: fadein 2s linear;
  -moz-animation: fadein 2s linear;
  -o-animation: fadein 2s linear;
  animation: fadein 2s linear;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.logohome{
  /*margin: 320px 20px 0 10%;*/
  margin: 25% 10% 20% 10%;
  position: absolute;
}
.logohome img{
  width: 400px;
}

/* -------------------QUEM SOMOS PAGINA ---------------------- */
.quemsomos{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
display: -ms-flexbox;      /* TWEENER - IE 10 */
display: -webkit-flex;     /* NEW - Chrome */
display: flex;
  background-image: url(../imgs/quemsomosbg.jpg);
  height:100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: row;

}

.boxqs{
  display: flex;
  justify-content: center;
  width: 40%;
  height:300px;
  margin: 40px 20px 0 100px;
  flex-direction:column;
  text-align: justify;
  text-justify: inter-word;
  padding: 0px;
}
.preboxqs{
  display: flex;
  width: 43%;
  height:300px;
}

.boxqs h1{
  margin-bottom: -30px;
}
@media only screen and (max-width : 1000px) {
  .quemsomos{
  background-image: url(../imgs/quemsomosbg_mobile.jpg);
  flex-flow: column-reverse;
}
  .boxqs{
    position: relative;
    margin: 0 auto;
    width: 90%;
    margin-top: 20px;
    max-width: 600px;
  }
  .preboxqs{
    height: 60%;
  }
}
/* -------------------O QUE FAZEMOS PAGINA ---------------------- */

.oquefazemos{
  display: flex;
  background-image: url(../imgs/oquefazemosbgok.jpg);
  height:100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: row;
}

.preboxof{
  display: flex;
  width: 5%;
  height:300px;
}

.boxof{
  display: flex;
  justify-content: center;
  width: 40%;
  height:280px;
  margin: 100px 20px 0 5%;
  flex-direction:column;
  text-align: justify;
  text-justify: inter-word;
  padding: 20px;
}
.boxvideo{
  margin: 150px 0px 0 10px;
  width: 50%;
  height: 270px;
}
.boxof h1{
  color:#404040;
  margin-bottom: -5px;

}
.boxof p{
  color:#404040;
}

@media only screen and (max-width : 1030px) {
.oquefazemos{
  background-image: url(../imgs/oquefazemosbgok_mobile.jpg);
  background-position: bottom;
}

}
@media only screen and (max-width : 1000px) {
.oquefazemos{
  flex-flow: column-reverse;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
justify-content: flex-start;
align-items: flex-start;
}
.boxof{
  width: 90%;
  max-width: 600px;
  height: 60%;
  margin: 0 auto;
  justify-content: flex-start;
}
.boxof h1{
  margin: 0;
  font-size: 1.7em;
}
.preboxof{
  display: none;
}
.boxvideo{
  margin: 0 auto;
  width: 90%;
  margin-top: 10px;
}
.boxvideo iframe{
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}
}
@media only screen and (max-width : 500px) {
  .boxof p{
    margin-top: 3px;
  }
  .boxof h1{
    margin-top: -20px;
  }
}

/* -------------------COMO FAZEMOS PAGINA ---------------------- */

.comofazemos{
  display: flex;
  background-image: url(../imgs/comofazemosbg.jpg);
  height:100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: row;
}


.boxcf{
  display: flex;
  justify-content: center;
  width: 40%;
  height:300px;
  margin: 70px 20px 0 100px;
  flex-direction:column;
  text-align: justify;
  text-justify: inter-word;
  padding: 30px;
}

.boxcf a{
  text-decoration: none;
  color: white;
}

.boxcf h1{
  margin-bottom: -30px;
}
.preboxcf{
  display: flex;
  width: 43%;
  height:300px;

}
@media only screen and (max-width : 1010px) {
  .comofazemos{
    flex-flow: row-reverse;
  background-image: url(../imgs/comofazemosbg_mobile.jpg);
  background-position: left;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  }
  .boxcf{
    width: 80%;
    max-width: 600px;
  margin: 0 auto;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0px;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  }

  .boxcf h1{
    margin-top: 10px;
    font-size: 1.7em;
  }

  .boxcf ul{
    padding-left: 0px;
  }
  .boxcf h1{
    text-align: center;
  }
  .preboxcf{
    display: none;
  }
}
@media only screen and (max-width : 610px) {
  .boxcf h1{
width: 300px;
}
}


/* -------------------PROCESSO PAGINA ---------------------- */
.comotrabalhamos{
  display: flex;
  background-color: #fff;
  width:99vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: row;
  background-attachment: fixed;
  margin: 0 auto;
}

.fundovideo {
  width: 100%;
  height: 100%;
  background-color: #000;
}

.sliderprocesso{
  position: absolute;
  display: flex;
  width: 50%;
  height: 400px;
  margin: 4% 0 0 15%;
}

.sliderprocesso p{
  color:#000;
  font-size: 14px;
  font-weight: 100;
  padding: 40px 40px 40px 40px;
}

@media only screen and (max-width : 700px) {
  .comotrabalhamos{
  display: none;
  }
  .callproc{
    display: none;
  }
}

/* -------------------PORTFOLIO PAGINA ---------------------- */
.portfolio{
  display: flex;
  background-image: url(../imgs/comofazemosbg.jpg);
  height:100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: row;
  display:block;

}

/* grid e hovers do portfolio */

.grid {
  position: relative;
  display: flex;
  flex-flow: wrap;
	max-width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-weight: 200;

}

.grid figure {
	position: relative;
	float: center;
	overflow: hidden;
	margin: 30px;
	width: 150px;
  height: 150px;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */
     -webkit-transition: all 0.5s ease;
     transition: all 0.5s ease;
}
.grid figure img:hover {
   -webkit-filter: none;
   -moz-filter: none;
   -ms-filter: none;
   filter: none;
}

.teste{
  display: none;
  background-color: #fff;
  height:100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: row;
}

/* -------------------CONTATO PAGINA ---------------------- */
.contato{
  background-image: url(../imgs/oquefazemosbgok.jpg);
  height:100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: row;
}

/* -------------------TRABALHOS PORTFOLIO ---------------------- */
.ajax-container{
  display: flex;
  flex-flow: column;
  height: 100vh;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.botaofechar h1{
  cursor: pointer;
}

@media only screen and (max-width : 1000px){
  .trabalho-inteiro-container{
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
  }
}
